.cabecalho-imagem{width: 20%;}
.cabecalho {
    background-color: #383D58;
    color: rgb(18, 20, 143);display:flex;justify-content: space-around;}
    .cabecalho-lista-item{
        display: inline-block;}.cabecalho-lista-item{
            display: inline-block;
            margin: 0 16px;}